
<footer>
  <div class="container-fluid">
   <hr class="border-1">
  <div class="row p-2">
    <div class="d-none d-md-flex align-items-center justify-content-center col-3 ">
      <p class="fs-1 text-secondary">VENICARA</p>
    </div>
    <div class="col-md-2 col-6">
      <p class="fw-semibold">Info</p>
      <ul class="list-unstyled">
        <li><a href="" class="text-decoration-none text-secondary">Contact us</a></li>
        <li><a href="" class="text-decoration-none text-secondary">About us</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-6">
      <p class="fw-semibold">Policies</p>
    <ul class="list-unstyled">
      <li><a class="text-secondary text-decoration-none" href="">Privacy Notice</a></li>
      <li><a class="text-secondary text-decoration-none" href="">Return policy</a></li>
      <li><a class="text-secondary text-decoration-none" href="">Terms and Conditions</a></li>
      <li><a class="text-secondary text-decoration-none" href="">Cookie Policy</a></li>
    </ul>
    </div>
    <div class="col-md-4 mt-3 mt-md-0 subscribe">
      <p class="fw-semibold ">Subscribe to Our News Letter</p>
      <form action="" class="form">
        <input type="text" class="form-control" placeholder="Email">
        <button class="btn btn-secondary">Send</button>
      </form>
      <div class="mt-2">
      <a href=""><i class="text-black fa-brands fa-square-whatsapp fs-4"></i></a>
      <a href=""><i class="text-black fa-brands fa-square-instagram ms-1 fs-4"></i></a>
      <a href=""><i class="text-black fa-brands fa-linkedin ms-1 fs-4"></i></a>
      </div>
    </div>
  </div>
  <div class="text-center">
    <hr class="border-1">
    <p>© 2025 | VENICARA | All Rights Reserved. | We Give You Smell.</p>
  </div>
  </div>
</footer>
</body>
</html>