<div class="d-flex">
  <!-- Sidebar -->
  <nav id="sidebar" class="p-2">
    <ul id="list" class="nav d-flex flex-column mt-1 pb-1 pt-1 pe-1 rounded-3 w-100" style="background:rgb(223, 223, 223)">
      <li id="liBtn" class="d-flex justify-content-end">
      <button id="arrow" class="btn"><i class="fa-solid fa-angles-left"></i></button>
      </li>
     
      <li class="nav-item">
        <form method="POST" action="/logout">
        <button class="btn btn-danger text-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 logout">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span>Log-Out</span>
        </button>
        </form>
      </li>
    </ul>
  </nav>
