PORT=
MONGO_URI=

ADMIN_SECRET=
USER_SECRET=

TITLE=

EMAIL_USER=
EMAIL_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

CLOUDINARY_URL=

NODE_ENV = 