<%-include('../partials/user/header.ejs')%>
<main class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
  <h1 class="display-3 text-danger">404</h1>
  <p class="lead">Oops! The page "<%= url %>" was not found.</p>
  <a href="/" class="btn btn-primary">Go Home</a>
</main>
<%-include('../partials/user/footer.ejs')%>