<%-include('../partials/user/header.ejs')%>
<main style="height:80vh" class="align-items-center justify-content-center d-flex">
    <div class="text-center mt-5">
  <div class="mb-4">
    <i class="fas fa-check-circle fa-5x text-success"></i>
  </div>
  <h4 class="fw-bold">THANK YOU FOR ORDERING</h4>
  <p>Your order ID: <%= orderId %></p>
  <div class="mt-3">
    <a href="/orders" class="btn btn-outline-dark">VIEW ORDERS</a>
    <a href="/shop" class="btn btn-outline-dark">CONTINUE SHOPPING</a>
  </div>
</div>
</main>

<%-include('../partials/user/footer.ejs')%>