/* Reset & Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {        /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    background-color: #f5f5f5;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button, textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.header-logo{
  width:15rem;
}
div>i{
    font-size:large;
    position: absolute;
    right:1rem;
    top:.5rem
}
#sidebar > ul > li{
    border:none;
    padding:.4rem 1rem
}
#sidebar > ul > li > a:hover:not(.logout){
    background-color: rgb(178, 178, 178);
    color:black
}
#sidebar > ul > li > a{
    color:black
}
/* Active sidebar button */
#sidebar .nav .active {
  background-color: #212529 !important; /* dark bg */
  color: #fff !important; /* white text */
}

#sidebar .nav .active i {
  color: #fff !important; /* white icon */
}
nav{
    width:18rem;
    transition: width .3s;
}
#sidebar.collapsed {
 width:6rem
}

#sidebar.collapsed span {
  display: none; /* hide text, keep icons */
}
.center{
  justify-content: center !important;
}


/* all success and error handle in header */
.successBox,.errorBox {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 100%;
  z-index: 9999; /* stays above everything */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 12px;
  font-weight: bold;
  transition: opacity 1s ease,transform 1s ease;
}
.fadeOut{
  opacity:0;
  transform: translateY(-2rem);
}
