

/* ===== GLOBAL STYLES ===== */
html {
  scroll-behavior: smooth; /* Smooth scrolling */
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-padding-top: 70px; /* Offset for sticky header */
  margin: 0;
  padding: 0;
}


.searchForm > input{
  border-radius: 10px solid black !important;
  border:1px solid rgb(122, 122, 122) !important
}
.searchForm > button{  
  padding:.75rem 1rem
}
@media (max-width:576px){
  .logo {
  margin-left: .5rem;
  width: 6rem;
}
header > .row > div >a> button{
  font-size:xx-small
}

}
/* Logo */
.logo {
  margin-left: 1rem;
  width: 12rem;
}
.successBox,.errorBox {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 100%;
  z-index: 9999; /* stays above everything */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 12px;
  font-weight: bold;
  transition: opacity 1s ease,transform 1s ease;
}
.fadeOut{
  opacity:0;
  transform: translateY(-2rem);
}
header{
  position: sticky !important;
top: 0;
z-index: 1020;
}


:root {
  --notyf-background: #1e1e2f;
  --notyf-text-color: #fff;
  --notyf-font-family: 'Poppins', sans-serif;
  --notyf-border-radius: 12px;
  --notyf-box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}

.notyf__toast--success {
  background: #4caf50;
}

.notyf__toast--error {
  background: #f44336;
}

.notyf__icon {
  margin-right: 8px;
  font-size: 16px;
}

.notyf__toast {
  width: 360px;
  text-align: left;
  animation: fadeSlide 0.5s ease forwards;
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(-40px); }
  to { opacity: 1; transform: translateY(0); }

}
