<%- include('../partials/admin/header.ejs')%>
<%- include('../partials/admin/sidebar.ejs')%>
<main class="">
  <!-- Page Content -->
  categories
</main>
</div>
<%- include('../partials/admin/footer.ejs')%>