<hr class="mt-0">
    <footer class="p-2">
      <p class="text-center">© 2025 | VENICARA | All Rights Reserved. | We Give You Smell.</p>    
    </footer>
  <script defer src="/js/adminSidebar.js"></script>
  <script defer src="/js/adminHeader.js"></script>
  <script defer src="/js/product.js"></script>
  <script defer src="/js/toggleStatus.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  <script defer src="https://kit.fontawesome.com/f45c5ea548.js" crossorigin="anonymous"></script>
  </body>
</html>